body {
  background-color: #00b3e6;
}

div {
  background-color: white;
  width: 700px;
  margin: auto;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",Helvetica, Arial, "Lucida Grande", sans-serif;
  padding: 30px;

}

/* ID selector to select the element with id 'main-header' */
#main-header {
  color: red;
  font-size: 22px;
}

/* Class selector to select elements containing the class 'perspective-questions' */
.perspective-questions {
  font-style: italic;
}
